@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 42, 50);
  font-family: "Fredoka One", cursive;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.img-o {
  width: 2.1875rem;
  height: 2.1875rem;
}

.img-x {
  width: 2rem;
  height: 2rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

#container {
}

#nav {
  padding: 1rem 1rem;
}

#nav img {
  width: 1.25rem;
  height: 1.25rem;
}

#turn {
  padding: 0.4rem 1.35rem;
  font-weight: 800;
  color: white;
  border: 0;
  background-color: rgb(32, 54, 64);
  box-shadow: 9px 9px 12px 0px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
}
/* rgb(26,42,50) rgb(32,54,64)*/
#return {
  padding: 0.5rem;
  background-color: #c4c4c4;
  border-radius: 12px;
}

#btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.5rem;
}

.btn-play {
  width: 7.5rem;
  height: 7.5rem;
  display: grid;
  place-items: center;
  background-color: rgb(32, 54, 64);
  border-radius: 12px;
  box-shadow: 9px 9px 12px 0px rgba(0, 0, 0, 0.75);
}

.result {
  padding: 0.5rem 1.2rem;
  border-radius: 12px;
  width: 7.5rem;
  text-align: center;
}

.result h5 {
  text-transform: uppercase;
  font-weight: 600;
}

#first-result {
  background-color: rgb(59, 195, 190);
}

#second-result {
  background-color: rgb(169, 191, 201);
}

#third-result {
  background-color: rgb(241, 176, 69);
}

@media screen and (max-width: 500px) {
  #container {
    padding: 0 2rem;
  }
  .btn-play {
    width: 5.5rem;
    height: 5.5rem;
  }

  .result {
    width: 5.5rem;
    padding: 0.5rem 1rem;
  }

  .result h5 {
  
    font-size: .8rem;
  }
}
